<div class="card">
  <div class="card-header">
    <p>Titulo</p>
    <div class="btn-hover fixed">
      <img src="../../../assets/images/fixe-note.svg" alt="Fixar nota">
    </div>
  </div>
  <div class="card-body">
    <p>body</p>
  </div>
  <div class="card-footer">
    <div class="icon btn-hover">
      <img src="../../../assets/images/palette.svg" alt="Fixar nota">
    </div>
    <div class="icon btn-hover">
      <img src="../../../assets/images/more.svg" alt="Fixar nota">
    </div>
  </div>
</div>
