.nav-bar {
  width: 70px;
  position: fixed;
  z-index: 30;
  height: 100%;
  overflow: hidden;
  top: 60px;
  left: 0;
  background: #ffffff;
  transition: 0.2s linear;
}

.nav-bar ul {
  padding: 16px 0;
}

ul a li {
  display: flex;
  justify-content: flex-start;
  color: #504d46;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  padding-left: 31px;
}

.nav-bar ul a {
  cursor: pointer;
  padding: 12px 0 6px 0;
  display: block;
}

.nav-bar ul a:hover {
  background: #f1f3f4;
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.nav-bar ul li i {
  padding-right: 30px;
}

.nav-bar:hover {
  width: 284px;
  -webkit-box-shadow: 11px 16px 10px -12px rgba(0,0,0,0.36);
  -moz-box-shadow: 11px 16px 10px -12px rgba(0,0,0,0.36);
  box-shadow: 11px 16px 10px -12px rgba(0,0,0,0.36);
}

.openNav {
  left: 0;
  box-shadow: none;
  width: 284px;
}

.openNav:hover {
  box-shadow: none;
}

.active-nav {
  background: #feefc3;
  width: 100%;
  display: block;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.active-nav:hover {
  background: #feefc3 !important;
}
