header {
  padding: 20px 10px;
  background: #42a5f5;
  color: #212121;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

header h1 {
  font-weight: 500;
  font-size: 16px;
}