.container {
  display: flex;
  height: 100%;
  margin-top: 100px;
  width: 100%;
  padding: 0 10px;
  justify-content: flex-end;
  position: relative;
  text-align: center;
}

.keep-form {
  width: 25%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  z-index: 11;
}

.list-keep {
  width: 70%;
  height: 100%;
}

.list-keep h2, .keep-form h2 {
  font-size: 15px;
  font-weight: 400;
}