.container {
  display: flex;
  height: 100%;
  margin-top: 100px;
  width: 100%;
  padding: 0 10px;
  justify-content: flex-end;
  position: relative;
}

.keep-form {
  width: 25%;
  height: 100%;
  background: #ffcdd2;
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 100px;
  z-index: 11;
}

.list-keep {
  width: 70%;
  height: 100%;
}