<div class="note-wraper" [ngClass]="{'note-open': noteToggle}" (click)="openNote($event)">
    <div class="note-header">
      <div class="btn-hover icon-check">
        <img src="../../../assets/images/check.svg" alt="check">
      </div>
      <div class="input-wraper">
        <input type="text" [placeholder]="placeholder">
      </div>
    </div>
    <div class="note-body"></div>
    
    <div class="note-footer" *ngIf="noteToggle">
      <div class="palleta">
        <div class="btn-hover">
          <img src="../../../assets/images/palette.svg" alt="paleta de cores">
        </div>
        <div class="palleta-box">
          <div [ngClass]="{'active-color': color.checkedColor}" (click)="addPallelaColor(color)" *ngFor="let color of colorPaletteBalls" [class]="color.className + ' ' +  'palleta-color'"></div>
        </div>
      </div>
    </div>
</div>