/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.btn-hover::after {
  content: '';
  position: absolute;
  width: 49px;
  height: 49px;
  background: #9c9eaa;
  opacity: 0.2;
  border-radius: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  display: none;
  transition: 0.2s linear;
}

.btn-hover:hover::after {
  display: block;
  cursor: pointer;
}