header {
  padding: 10px 30px;
  background: #ffffff;
  color: #212121;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #dadce0;
}

header .menu {
  display: flex;
  width: 132px;
  align-items: center;
  justify-content: space-between;
}

.bars {
  width: 25px;
  height: 25px;
  position: relative;
}

.bars svg {
  opacity: 0.8;
  width: 100%;
  height: 100%;
}

header .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95px;
}

header .logo img {
  width: 40px;
}

header .logo span {
  font-size: 21px;
  font-weight: 400;
  color: #4d4f52;
}

header .search {
  margin-left: 90px;
  max-width: 800px;
  width: 70%;
  margin-top: -30px;
}

header .search input {
  padding: 12px 20px;
  border-radius: 7px;
  border-style: none;
  width: 100%;
  border: solid transparent;
  background: #f1f3f4;
  font-size: 15px;
  padding-left: 60px;
}

header .search input:focus {
  outline: none;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,.2);
  background: #ffffff;
}

header .search label {
  width: 15px;
  height: 15px;
  overflow: hidden;
  position: relative;
  top: 35px;
  left: 20px;
}

header .search label:hover::after {
  width: 37px;
  height: 37px;
}

.search label svg {
  width: 24px;
  height: 24px;
  opacity: 0.6;
  position: relative;
  top: 7px;
}